<section id="section2" class="about-us">
    <div class="row">
        <div class="container w-75 pt-6">
            <h1 class="exo-2 display-6">ABOUT US</h1>
            <h4 class="exo-2 p-6">Mr.Kashmiri Lal Khanna established the Company in 1975, with the aim to manufacture & export Textile Fabrics. Prior to that all operations were in the export of Tea to Afghanistan & Morrocco under the name of Kashmiri Lal Kasturi Lal & Co., which had been in business since the 1940’s. When the present Company was incorporated, the two businesses were amalgamated.</h4>
            <a href="https://www.google.com" class="btn btn-outline-dark w-0 mt-2 mx-auto rounded-0">Read More</a>
        </div>
    </div>
</section>