<section id="contact-detailed" class="exo-2">

    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="breadcrumb"><a routerLink="/home">Home</a> / Contact Us</span>
                    <h3 class="mt-4">CONTACT US</h3>
                </div>
            </div> 
        </div>
    </div>
    <!-- <div class="contact section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <div class="section-heading text-center">
                        <h6>| Contact Us</h6>
                        <h2>Get In Touch With Our Agents</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="contact-content pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13589.806314570267!2d74.878875!3d31.621484000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39197ca93c326449%3A0xa87768ec6c7d5435!2sKashmiri%20Lal%20Tarun%20Khanna%20Private%20Limited!5e0!3m2!1sen!2sus!4v1743602926117!5m2!1sen!2sus"
                            width="100%" height="500px" frameborder="0"
                            style="border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);"
                            allowfullscreen=""></iframe>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="item email">
                                <i class="bi bi-envelope fs-3 px-2"></i>
                                <p><a href="mailto:mail&#64;kkpl.co.in" title="mail&#64;kkpl.co.in">mail&#64;kkpl.co.in</a><br><span>Email</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item phone">
                                <i class="bi bi-telephone fs-3 px-2"></i>
                                <p>+91 12345 67890<br><span>Phone</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="item fax">
                                <i class="bi bi-printer fs-3 px-2"></i>
                                <p>+91 183 255 6615<br><span>Fax</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <form id="contact-form" action="" method="post">
                        <div class="row">
                            <h4>Drop us a message, we will get in touch with you.</h4>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="name">Name</label>
                                    <input type="name" name="name" id="name" placeholder="Name" autocomplete="on"
                                        required>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="contact">Contact</label>
                                    <input type="number" name="contact" id="contact" placeholder="Contact" autocomplete="on"
                                        required>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="email">Email Address</label>
                                    <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                        placeholder="E-mail" required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="address">Address</label>
                                    <input type="text" name="address" id="address" placeholder="Address"
                                        autocomplete="on">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" rows="2" placeholder="Your Message"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="">Send Message</button>
                                </fieldset>
                            </div>
                            <p class="pt-1">KKPL Respects your Privacy and will not share your personal information with any third-party.</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>