#flame-proof-fabrics {
    padding-top: 120px;
    padding-bottom: 20px;
}
.page-heading {
    background-image: url(../../../assets/img/flame-proof_2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
    text-align: center;
    transition: all 0.3s ease;
}
.page-heading span {
    background-color: #fff;
    border-radius: 60px;
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.page-heading span a {
    color: #1e1e1e;
    text-decoration: none;
    transition: all 0.3s ease;
}
.page-heading span a:hover {
    color: #1e1e1e;
    text-decoration: underline;
}
.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.page-heading h3 {
    font-size: 48px;
    font-weight: 1000;
    text-transform: uppercase;
    color: #343a40;
    transition: all 0.3s ease;
}
.details ul.details-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}
.details ul.details-filter li {
    flex: 1;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
    margin: 5px 8px;
    width: 100%;
    box-shadow: #343a40;
    transition: all 0.3s ease;
}
.details ul.details-filter li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #343a40;
    background-color: #fefefe;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.details ul.details-filter li a.is_active {
    background-color: #343a4082;
    color: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.details ul.details-filter li a.is_active:hover {
    color: #333;
    transition: all 0.3s ease;
}
.details ul.details-filter li a:hover {
    color: #262626;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.details .item {
    background-color: #5d687314;
    border-radius: 60px;
    padding: 50px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}
.details .item h6 {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 15px;
    margin-top: 30px;
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
    transition: all 0.3s ease;
    line-height: 1.6;
}
.details .item h6 a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 15px;
    display: inline-block;
    text-align: justify;
    text-justify: inter-word;
    transition: all 0.3s ease;
    line-height: 1.6;
}
.details .item h6 a:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
}
.details-items {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.details-items.show {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.filter-btn {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
.filter-btn.is_active {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.card {
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.1);
}
.sub-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
    transition: all 0.3s ease;
}
.sub-items {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.sub-items.show2 {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}
.sub-filter li {
    flex: 1;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
    margin: 5px 8px;
    width: 100%;
    box-shadow: #343a40;
    transition: all 0.3s ease;
}
.sub-filter li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #343a40;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.sub-filter li a:hover {
    color: #262626;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.sub-filter li a.is_active {
    background-color: #343a4082;
    color: #fff;
    text-decoration: underline;
    transition: all 0.3s ease;
}
.sub-filter li a.is_active:hover {
    color: #333;
    transition: all 0.3s ease;
}
.sub-filter-btn {
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}
.sub-filter-btn.is_active {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
    transition: all 0.3s ease;
}