/*--------Section-3-About-us--------------*/
.about-us
{
	background-image: url('../../../assets/img/abt-img.png');
	padding-top:100px;
	height:auto;
	background-size: cover;
	display: flex;
    justify-content: center; /* Centers content horizontally */
    text-align: center;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 100px 0px;
}
/* .abt-img{
	height: 100vh;
    width: 100vw;
    object-fit: cover;
    left: 0;
    position: absolute;
} */
.about-us h4 {
	/* font-size: 20px; */
	color: #47403d;
	padding-top: 60px;
	word-wrap: break-word;
    overflow-wrap: break-word;
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.6;
}
.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

a {
	transition: all 0.3s ease;
}

a:hover{
	transition: all 0.3s ease;
	
}