<!-- Hero Section -->
<section id="hero" class="content-section block">
    <app-hero></app-hero>
</section>

<!-- Carousel Section -->
<section id="carousel" class="content-section block">
    <app-carousel></app-carousel>
</section>

<!-- Products Section -->
<section id="products" class="content-section block">
    <app-products></app-products>
</section>

<!-- About Section -->
<section id="about" class="content-section block">
    <app-about></app-about>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section block">
    <app-contact></app-contact>
</section>
